﻿
@model PROYECTO_FINANZAS.Web.ViewModel.Perfil.PerfilViewModel

@{
    ViewBag.Title = "Administrar Perfil";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Administrar Perfil
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-users"></i>  <a href="@Url.Action("ListarPerfiles", "Perfil")">Mis Perfiles</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> Administrar Perfil
            </li>
        </ol>
    </div>
</div>

@if (TempData["Mensaje"] != null)
{
    String Mensaje = TempData["Mensaje"].ToString();

    if (Mensaje.Contains("exitosamente"))
    {
        <div class="alert alert-success fade in" id="mensaje">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>@Mensaje
        </div>
    }
    else
    {
        <div class="alert alert-danger" id="mensaje">
            @Mensaje
        </div>
    }
}

<div class="panel panel-default">
    <div class="panel-heading text main-text">
        Administrar Perfil
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "Perfil", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(X => X.PerfilId)

            <div class="form-group">
                @Html.LabelFor(X => X.Nombre)
                @Html.TextBoxFor(X => X.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(X => X.Nombre, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(X => X.Apellido)
                @Html.TextBoxFor(X => X.Apellido, new { @class = "form-control" })
                @Html.ValidationMessageFor(X => X.Apellido, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(X => X.Dni)
                @Html.TextBoxFor(X => X.Dni, new { @class = "form-control" })
                @Html.ValidationMessageFor(X => X.Dni, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(X => X.Email)
                @Html.TextBoxFor(X => X.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(X => X.Email, "", new { @class = "text-danger" })
            </div>
            <br />
            <button type="submit" class="btn btn-danger square-btn-adjust"><i class="fa fa-save"></i> Guardar</button>
            <a href="@Url.Action("ListarPerfiles", "Perfil")" class="btn btn-danger square-btn-adjust"><i class="fa fa-arrow-left"></i> Cancelar</a>
        }
    </div>
</div>
