﻿
@model PROYECTO_FINANZAS.Web.ViewModel.CuentaCorriente.CuentaViewModel

@{
    ViewBag.Title = "Administrar Cuenta";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Administrar Cuenta
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-money"></i>  <a href="@Url.Action("ListarCuentas", "CuentaCorriente")">Mis Cuentas</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> Administrar Cuenta
            </li>
        </ol>
    </div>
</div>

@if (TempData["Mensaje"] != null)
{
    String Mensaje = TempData["Mensaje"].ToString();

    if (Mensaje.Contains("exitosamente"))
    {
        <div class="alert alert-success fade in" id="mensaje">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>@Mensaje
        </div>
    }
    else
    {
        <div class="alert alert-danger" id="mensaje">
            @Mensaje
        </div>
    }
}

<div class="panel panel-default">
    <div class="panel-heading text main-text">
        Administrar Cuenta
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "CuentaCorriente", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(X => X.CuentaId)

            <div class="form-group">
                <label>Número de Cuenta</label>
                @Html.TextBoxFor(X => X.NroCuenta, new { @class = "form-control" })
                @Html.ValidationMessageFor(X => X.NroCuenta, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(X => X.Banco)
                @Html.DropDownListFor(X => X.Banco, new SelectList(Model.DicBancos, "Key", "Value"), "[-Seleccione-]", new { @class = "form-control" })
                @Html.ValidationMessageFor(X => X.Banco, "", new { @class = "text-danger" })
            </div>
            <br />
            <button type="submit" class="btn btn-danger square-btn-adjust"><i class="fa fa-save"></i> Guardar</button>
            <a href="@Url.Action("ListarCuentas", "CuentaCorriente")" class="btn btn-danger square-btn-adjust"><i class="fa fa-arrow-left"></i> Cancelar</a>
        }
    </div>
</div>
