﻿
@model PROYECTO_FINANZAS.Web.ViewModel.CuentaCorriente.ListarCuentasViewModel

@{
    ViewBag.Title = "Mis Cuentas";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Mis Cuentas
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-money"></i> Mis Cuentas
            </li>
        </ol>
    </div>
</div>

@if (TempData["Mensaje"] != null)
{
    String Mensaje = TempData["Mensaje"].ToString();

    if (Mensaje.Contains("exitosamente"))
    {
        <div class="alert alert-success fade in" id="mensaje">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>@Mensaje
        </div>
    }
    else
    {
        <div class="alert alert-danger" id="mensaje">
            @Mensaje
        </div>
    }
}

<div class="panel panel-default">
    <div class="panel-heading text main-text">
        Mis Cuentas
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            @if (Model.LstCuentas.Count() > 0)
            {
                <input id="searchInput" class="form-control" placeholder="Escriba para filtrar" />
                <br />
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th><label>Número de Cuenta</label></th>
                            <th>@Html.LabelFor(X => X.LstCuentas.First().Banco)</th>
                            <th colspan="3"><label>Opciones</label></th>
                        </tr>
                    </thead>
                    <tbody id="toBody">
                        @foreach (var Item in Model.LstCuentas)
                        {
                            <tr>
                                <td>@Item.NroCuenta</td>
                                <td>@Item.Banco</td>
                                <td><a href="@Url.Action("Edit", "CuentaCorriente", new { CuentaId = Item.CuentaCorrienteId })" class="btn btn-xs"><i class="fa fa-pencil"></i> Editar</a></td>
                                <td><a href="@Url.Action("Delete", "CuentaCorriente", new { CuentaId = Item.CuentaCorrienteId })" class="btn btn-xs"><i class="fa fa-trash"></i> Eliminar</a></td>
                                <td><a href="@Url.Action("ListarDepositos", "Deposito", new { CuentaId = Item.CuentaCorrienteId })" class="btn btn-xs"><i class="fa fa-bank"></i> Depósitos</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-success">
                    <h3>No existen Cuentas Corrientes asociadas a este perfil</h3>
                </div>
            }
            <a href="@Url.Action("Edit", "CuentaCorriente")" class="btn btn-danger square-btn-adjust"><i class="fa fa-plus"></i> Nueva Cuenta</a>
        </div>
    </div>
</div>
