﻿
@model PROYECTO_FINANZAS.Web.ViewModel.Deposito.DepositoViewModel

@{
    ViewBag.Title = "Administrar Deposito";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Administrar Deposito
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-bank"></i>  <a href="@Url.Action("ListarDepositos", "Deposito", new { CuentaId = Model.CuentaId })">Mis Depositos</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> Administrar Deposito
            </li>
        </ol>
    </div>
</div>

@if (TempData["Mensaje"] != null)
{
    String Mensaje = TempData["Mensaje"].ToString();

    if (Mensaje.Contains("exitosamente"))
    {
        <div class="alert alert-success fade in" id="mensaje">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>@Mensaje
        </div>
    }
    else
    {
        <div class="alert alert-danger" id="mensaje">
            @Mensaje
        </div>
    }
}

<div class="panel panel-default">
    <div class="panel-heading text main-text">
        Administrar Deposito
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "Deposito", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(X => X.DepositoId)
            @Html.HiddenFor(X => X.CuentaId)

            <div class="form-group">
                <label>Fecha de Depósito</label>
                <input id="FechaDeposito" name="FechaDeposito" value="@Model.FechaDeposito.Date.ToShortDateString()" class="form-control" />
                @Html.ValidationMessageFor(X => X.FechaDeposito, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Número de Días del Plazo Fijo</label>
                @Html.TextBoxFor(X => X.NroDiasPlazoFijo, new { @class = "form-control" })
                @Html.ValidationMessageFor(X => X.NroDiasPlazoFijo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Valor de la Tasa (%)</label>
                @Html.TextBoxFor(X => X.ValorTasa, new { @class = "form-control" })
                @Html.ValidationMessageFor(X => X.ValorTasa, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Tipo de Tasa</label>
                @Html.DropDownListFor(X => X.Tasa, new SelectList(Model.DicTasas, "Key", "Value"), "[-Seleccione-]", new { @class = "form-control" })
                @Html.ValidationMessageFor(X => X.Tasa, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Monto Depositado</label>
                @Html.TextBoxFor(X => X.MontoDepositado, new { @class = "form-control" })
                @Html.ValidationMessageFor(X => X.MontoDepositado, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Penalización (%)</label>
                @Html.TextBoxFor(X => X.Penalizacion, new { @class = "form-control" })
                @Html.ValidationMessageFor(X => X.Penalizacion, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-danger square-btn-adjust"><i class="fa fa-save"></i> Guardar</button>
            <a href="@Url.Action("ListarDepositos", "Deposito", new { CuentaId = Model.CuentaId })" class="btn btn-danger square-btn-adjust"><i class="fa fa-arrow-left"></i> Cancelar</a>
        }
    </div>
</div>

<script src="@Url.Content("~/Content/js/jquery-1.10.2.js")"></script>

<script>
    $(function () {
        $("#FechaDeposito").datepicker();
    });
</script>
