﻿@model PROYECTO_FINANZAS.Web.ViewModel.Deposito.ListarDepositosViewModel

@{
    ViewBag.Title = "Mis Depositos";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Mis Depositos
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-money"></i>  <a href="@Url.Action("ListarCuentas", "CuentaCorriente")">Mis Cuentas</a>
            </li>
            <li class="active">
                <i class="fa fa-bank"></i> Mis Depositos
            </li>
        </ol>
    </div>
</div>

@if (TempData["Mensaje"] != null)
{
    String Mensaje = TempData["Mensaje"].ToString();

    if (Mensaje.Contains("exitosamente"))
    {
        <div class="alert alert-success fade in" id="mensaje">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>@Mensaje
        </div>
    }
    else
    {
        <div class="alert alert-danger" id="mensaje">
            @Mensaje
        </div>
    }
}

<div class="panel panel-default">
    <div class="panel-heading text main-text">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <div>Mis Depositos</div>
                </div>
                <div class="col-xs-6 text-right">
                    <div>@Model.LstDepositos.Count</div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("Edit", "Deposito", new { CuentaId = Model.CuentaId })" class="btn btn-primary square-btn-adjust"><i class="fa fa-plus"></i> Nuevo Deposito</a>
                <br />
                <br />
            </div>
        </div>


        @for (int i = 0; i < Model.LstDepositos.Count(); i++)
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="table-responsive">
                        <div class="col-md-12">
                            <div class="@(Model.EstaPenalizado(i) ? "panel panel-red" : "panel panel-green")">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div>Del @(Model.obtenerDeposito(i).FechaDeposito.ToShortDateString())</div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pull-right">Al @(Model.obtenerDeposito(i).FechaVencimiento.Value.ToShortDateString())</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div id=@("progreso" + i)> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="table-responsive">
                        <div class="col-md-12">
                            <div class="@(Model.EstaPenalizado(i) ? "panel panel-red" : "panel panel-green")">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div>Deposito de @(String.Format("{0:C}", Model.obtenerDeposito(i).MontoDepositado))</div>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div>@(Model.EstaPenalizado(i) ? "Faltan " + @Model.ObtenerDiasFaltantes(i) + " Día(s)" : "Puede retirar su dinero")</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td class="text-muted">Dinero actualmente en la cuenta:</td>
                                            <td class="huge">@(String.Format("{0:C}", Model.AplicarTEAHoy(i, false)))</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Interes ganado si se retira el dia de hoy:</td>
                                            <td class="huge">@String.Format("{0:C}", Model.DineroGanadoHoy(i, Model.EstaPenalizado(i)))</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Dinero total a retirar al fin del periodo:</td>
                                            <td class="huge">@(String.Format("{0:C}", Model.DineroGanadoPeriodo(i, false) + Model.obtenerDeposito(i).MontoDepositado)) </td>
                                        </tr>

                                        <tr>
                                            <td class="text-muted">Interes al fin del periodo:</td>
                                            <td class="huge @(Model.EstaPenalizado(i) ? "text-warning" : "text-success")">@(String.Format("{0:C}", Model.DineroGanadoPeriodo(i, false))) </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <div class="row">

                    <div class="col-md-6">
                        <a href="@Url.Action("Edit", "Deposito", new { CuentaId = Model.CuentaId, DepositoId = Model.obtenerDeposito(i).DepositoId})" class="btn btn-warning square-btn-adjust"><i class="fa fa-edit"></i> Editar Deposito</a>
                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Eliminar", "Deposito", new { DepositoId = Model.obtenerDeposito(i).DepositoId})" class="btn btn-danger square-btn-adjust pull-right"><i class="fa fa-trash"></i> Eliminar Deposito</a>
                    </div>
                </div>
            </div>
            <br /><br />
        }
        <div class="col-md-12">
            <div class="table-responsive">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <div>Reporte:</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tr>
                                        <td>
                                            Total al liquidar todas las cuentas hoy (incl. ITF):
                                        </td>
                                        <td class="huge">
                                            @String.Format("{0:C}", Model.ObtenerTotalDeIngresosAlRetirarHoy())
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Total al liquidar todas las cuentas finalizando los periodos (incl. ITF):
                                        </td>
                                        <td class="huge">
                                            @String.Format("{0:C}", Model.ObtenerTotalDeIngresosPeriodo())
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>














<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
<meta charset=utf-8 />
@for (int i = 0; i < Model.LstDepositos.Count; i++)
{
    <script>
        $(window).resize(function() {
            location.reload();
        });
        $(function() {
            Morris.Donut({
                element: '@("progreso" + i)',
                @if (Model.ObtenerDiasTranscurridos(i) > 0) {
                    @:data: [
                    @:  { label: "Dias por transcurrir", value: @Model.ObtenerDiasFaltantes(i) },
                    @:  { label: "Dias transcurridos", value: @Model.ObtenerDiasTranscurridos(i) }
                    @:],
                }
                else {
                    @:data: [
                    @:  { label: "Dias por transcurrir", value: @Model.ObtenerDiasFaltantes(i) }
                    @:],
                }
                colors: ["#ecf0f1","#2ecc71"],
                resize: true
            });
        });
    </script>
}