﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    @Styles.Render("~/bundles/css")
</head>
<body>
    <div class="container">
        <div class="row text-center ">
            <div class="col-md-12">
                <br><br>
                <h2> Proyecto Finanzas</h2>
                <h5>( Entra para acceder a nuestros servicios )</h5>
                <br>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading" align="center">
                        <strong>Ingrese Credenciales</strong>
                    </div>
                    <div class="panel-body">
                        <br>
                        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                                @Html.TextBox("NombreUsuario", "", new { @class = "form-control", @placeholder = "USUARIO" })
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                @Html.Password("Password", "", new { @class = "form-control", @placeholder = "PASSWORD" })
                            </div>
                            <br>
                            <button type="submit" class="btn btn-danger square-btn-adjust"><i class="fa fa-sign-in"></i> Iniciar Sesión</button>
                            <a style="padding-left:120px" href="@Url.Action("Registro", "Home")"> Registrate</a>
                        }
                        <hr>
                        @if (TempData["Mensaje"] != null)
                        {
                            String Mensaje = TempData["Mensaje"].ToString();

                            if (Mensaje.Contains("exitosamente"))
                            {
                                <div class="alert alert-success fade in" id="mensaje">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>@Mensaje
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger" id="mensaje">
                                    @Mensaje
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/scripts")
</body>
</html>
