﻿
@model PROYECTO_FINANZAS.Web.ViewModel.Home.RegistroViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    @Styles.Render("~/bundles/css")
</head>
<body>
    <div class="container">
        <div class="row text-center ">
            <div class="col-md-12">
                <br><br>
                <h2> Proyecto Finanzas</h2>
                <h5>( Registrate para acceder a nuestros servicios )</h5>
                <br>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading" align="center">
                        <strong>Registro de Usuario</strong>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Registro", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(X => X.Username)
                                @Html.TextBoxFor(X => X.Username, new { @class = "form-control" })
                                @Html.ValidationMessageFor(X => X.Username, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(X => X.Password)
                                @Html.PasswordFor(X => X.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(X => X.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(X => X.Nombre)
                                @Html.TextBoxFor(X => X.Nombre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(X => X.Nombre, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(X => X.Apellido)
                                @Html.TextBoxFor(X => X.Apellido, new { @class = "form-control" })
                                @Html.ValidationMessageFor(X => X.Apellido, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(X => X.Dni)
                                @Html.TextBoxFor(X => X.Dni, new { @class = "form-control" })
                                @Html.ValidationMessageFor(X => X.Dni, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(X => X.Email)
                                @Html.TextBoxFor(X => X.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(X => X.Email, "", new { @class = "text-danger" })
                            </div>
                            <br />
                            <button type="submit" class="btn btn-danger square-btn-adjust"><i class="fa fa-check-circle"></i> Registrarme</button>
                            <a href="@Url.Action("Login", "Home")" class="btn btn-danger square-btn-adjust"><i class="fa fa-arrow-left"></i> Cancelar</a>
                        }
                        <hr>
                        @if (TempData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger">
                                @TempData["Mensaje"]
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/scripts")
</body>
</html>
